@charset "utf-8";
@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
//font-family: 'Bungee Shade', cursive;
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
//font-family: 'Fredericka the Great', cursive;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Play&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

$tablet: 1179px;
$mobile: 539px;


body {
	font: 12px /1.4 arial, sans-serif;
	color: #666;
	background: #333;
}

#wrap {
	width: 1100px;
	height: 480px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -550px;
	perspective: 1200px;

	h1 {
		position: absolute;
		top: -60px;
		left: 0px;
		a {
			display: block;
			//font: 40px/1 "Bungee Shade", cursive;
			font: 40px/1 'Fredericka the Great', cursive;
			color: #fff;

			span {
				font: bold 25px/1 "Poiret One";
				color: #999;
				padding-left: 10px;
			}
		}
	}

	header {
		width: 240px;
		height: 100px;
		position: absolute;
		top: -80px;
		right: 0px;
		ul {
			li {
				width: 80px;
				height: 80px;
				background: #fff;
				float: left;
				box-sizing: border-box;
				border: 1px solid #ddd;
				text-align: center;
				transition: all 0.5s;
				
				a{
					color: #666;
					font-size: 20px;
					line-height: 80px;
				}

				&:hover {
					background: #bbb;
					border: 1px solid #999;
					a {
						color: #fff;
					}
				}

				&.on {
					background: #222;
					border: 1px solid #999;

					a {
						color: #fff;
					}

					&:hover {
						background: #bbb;
						border: 1px solid #999;
						a {
							color: #fff;
						}
					}
				}
			}
		}
	}

	/* navigation */
	nav {
		width: 320px;
		height: 480px;
		top: 0px;
		left: 0px;
		ul {
			li {
				width: 160px;
				height: 160px;
				background: #666;
				float: left;
				text-align: center;
				border: 1px dashed #888;
				transition: all 0.5s;
				
				a {
					font-size: 30px;
					color: #ccc;
					line-height: 160px;
				}

				&:hover {
					background: #444;
					border: 1px dashed #000;
					a {
						color: #fff;
					}
				}
				&.on {
					background: #111;
					border: 1px dashed #000;
					a {
						color: #c35219;
					}
					
				}
			}
		}
	}
	
	aside {
		width: 300px;
		height: 480px;
		background: #ccc;
		position: absolute;
		right: 480px;
		top: 0px;
		z-index: 2;
		overflow: hidden;
    
		ul {
			position: absolute;
			top: 0px;
			left: 0px;
			transition: all 1s;

			li {
				width: 300px;
				height: 480px;
				font-size: 100px;
				color: #fff;

				#what {
					padding: 20px;
					> h3 {
						font-size: 20px;
						font-weight: bold;
						color: #222;
						margin-bottom: 20px;
						font-family: "Poiret One", cursive;
						letter-spacing: 1px;
					}
					> p {
						font-size: 12px;
						color: #222;
						font-family: "Noto Sans KR";
					}
				}

				&:nth-child(1) {
					background-image: url(../img/p0.jpg);
					background-size: cover;
					background-position: center;
				}
				&:nth-child(2) {
					background-image: url(../img/p1.jpg);
					background-size: cover;
				}
				&:nth-child(3) {
					background-image: url(../img/p2.jpg);
					background-size: cover;
				}
				&:nth-child(4) {
					background-image: url(../img/p3.jpg);
					background-size: cover;
				}
				&:nth-child(5) {
					background-image: url(../img/p4.jpg);
					background-size: cover;
				}
				&:nth-child(6) {
					background-image: url(../img/p5.jpg);
					background-size: cover;
				}
			}
		}
	}

	/* right cube */
	section {
		width: 480px;
		height: 480px;
		position: absolute;
		top: 0px;
		right: 0px;
		transform-style: preserve-3d;
		transform: translateZ(-240px);
		z-index: 1;
		transition: all 1s;

		article {
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.3;
			position: absolute;
			top: 0px;
			left: 0px;
			transition: all 2.5s;
			box-sizing: border-box;
			padding: 40px;
			overflow: hidden;

			&:nth-child(1) {
				transform: rotateY(0deg) translateZ(240px);
				padding: 0px;
			}
			&:nth-child(2) {
				transform: rotateY(90deg) translateZ(240px);
			}
			&:nth-child(3) {
				transform: rotateY(180deg) translateZ(240px);
			}
			&:nth-child(4) {
				transform: rotateY(270deg) translateZ(240px);
			}
			&:nth-child(5) {
				transform: rotateX(90deg) translateZ(240px);
			}
			&:nth-child(6) {
				transform: rotateX(270deg) translateZ(240px);
			}

			// face1
			> div {
				width: 240px;
				height: 240px;
				float: left;
				padding: 20px;
				box-sizing: border-box;

				h3 {
					font-size: 20px;
					font-weight: bold;
					color: #222;
					margin-bottom: 20px;
					font-family: "Poiret One", cursive;
					letter-spacing: 1px;
				}
				p {
					font-size: 14px;
					color: #333;
					font-family: "Noto Sans KR";
					line-height: 1.2;
				}
				&:nth-of-type(1) {
					h3 {margin-bottom: 15px;}
					p {font-size: 12px;line-height: 1.4;}
				}
				&:nth-of-type(2) {
					background-color: #2b5758;
					h3 {color: #fff;}
					p {color: #ddd;}
				}
				&:nth-of-type(3) {
					background-color: #c35219;
					h3 {color: #fff;}
					p {color: #ddd;}
				}
				&:nth-of-type(4) {
					h3 {margin-bottom: 15px;}
					p {font-size: 12px;line-height: 1.1; }
				}
			}

			h2 {
				font-size: 50px;
				font-family: "Poiret One", cursive;
				color: #2b5758;
				margin-bottom: 30px;
				line-height: 1.2;
			}
			h3 {
				font-size: 20px;
				font-weight: bold;
				color: #222;
				margin-bottom: 10px;
				font-family: "Noto Sans KR";
			}
			p {
				font-size: 14px;
				color: #333;
				font-family: "Noto Sans KR";
				margin-bottom: 10px;
				line-height: 1.4;
			}
			a {
				display: block;
				width: 100%;
				font-size: 14px;
				color: #c35219;
				text-decoration: underline;
				margin-bottom: 20px;
			}
			h4 {
				font-size: 25px;
				color: #222;
				margin-bottom: 10px;
				//font-family: "Poiret One", cursive;
        		font-family: "Play";
				font-weight: bold;
			}
			ol {
				li {
					font-size: 14px;
					color: #666;
					font-family: "Play";
					list-style: disc;
					margin-left: 20px;
					margin-bottom: 2px;
					span {
						font-size: 12px;
						color: #999;
						font-family: "Noto Sans KR";
					}
				}
			}
			video {
				height: 50%;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0%;
			}
			//face6
			th {
				width: 100px;
				height: 40px;
				background: #444;
				color: #fff;
				border-bottom: 1px solid #fff;
				text-align: center;
				font-family: "Play";
				font-size: 14px;
				font-weight: normal;
			}
			td {
				padding-left: 20px;

				input[typs="text"] {
					height: 30px;
				}
				input[type="checkbox"],
				input[type="radio"] {
					margin-right: 10px;
					position: relative;
					top: 2px;
				}
				.short {
					width: 80px;
				}
				.mid {
					width: 150px;
				}
				select {
					width: 170px;
				}
				textarea {
					width: 270px;
					height: 100px;
					position: relative;
					top: 2px;
				}
			}
		}
	}

	&.box0 section {transform: translateZ(-240px) rotateY(0deg);}
	&.box1 section {transform: translateZ(-240px) rotateY(-90deg);}
	&.box2 section {transform: translateZ(-240px) rotateY(-180deg);}
	&.box3 section {transform: translateZ(-240px) rotateY(-270deg);}
	&.box4 section {transform: translateZ(-240px) rotateX(-90deg);}
	&.box5 section {transform: translateZ(-240px) rotateX(-270deg);}

	&.box0 aside ul {top: 0px;}
	&.box1 aside ul {top: -480px;}
	&.box2 aside ul {top: -960px;}
	&.box3 aside ul {top: -1440px;}
	&.box4 aside ul {top: -1920px;}
	&.box5 aside ul {top: -2400px;}

	&.box0 article:nth-child(1) {opacity: 1;}
	&.box1 article:nth-child(2) {opacity: 1;}
	&.box2 article:nth-child(3) {opacity: 1;}
	&.box3 article:nth-child(4) {opacity: 1;}
	&.box4 article:nth-child(5) {opacity: 1;}
	&.box5 article:nth-child(6) {opacity: 1;}
}

@media screen and (max-width: $tablet) {

}

@media screen and (max-width: $mobile) {

}
